<!--Header-->
<header class="masthead">
  <div class="container">
    <div class="mx-auto text-center row">
      <div class="col-md-6 col-sm-8 mx-auto pl-5">
        <h1 class="text-white">Your research
          <span class="txt-type font-nothing-you-can-do text-warning" data-wait="1000" data-words='["safe", "clean", "organized", "valuable"]'></span>
        </h1>
      </div>
    </div>
  </div>
</header>