<footer class="bg-light pt-4">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.linkedin.com/in/bruno-monteiro-20957890/" target="_blank"> Bruno Monteiro</a>
  </div>
</footer>
